.text-success{
  color: green;
}

.text-danger{
  background-color: red;
}

.bk-color-black{
  background-color: black;
  border: 5px solid blue;
  padding: 20px;
  margin: 20px;
}

.special{
  border: 1px solid red;
  padding: 20px;
  margin: 20px;
}

.errorClass{
  color: red;
  font-weight: bold;
}
